@model ServerManagerCore.Models.ApplicationUser

@{
    ViewData["Title"] = "Detalles del Usuario";
}

<h2>Detalles del Usuario @Html.DisplayFor(model => model.UserName)</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Volver a Todos los Usuarios</a>
</div>
